.cartContainer {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa; 
}
.cartItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e9ecef; 
}

.cartItemImg {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 5px;
  object-fit: cover; 
}

.cartItemInfo {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.cartItemActions {
  margin-left: auto;
}

.cartItemActions button {
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.total {
  margin-top: 20px;
  padding-top: 10px;
  font-size: 18px;
  border-top: 2px solid #333; 
}
.cartButton {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-success {
  background-color: #28a745;
  color: white;
}