.cartViewClase{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:'2rem';
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;

}
.total{
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-top: 10px; 
  margin-left: 6%;
}
.vaciar{
    margin-left: 6%;
}